* {
  font-family: arial;
}
.bg {
  background-image: url(./imagens/fundo1.png);
  background-size: cover;
  width: 100% !important;
  height: 100vh !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo {
  margin-top: 2%;
  width: 80px;
  height: 80px;
  position: absolute;
  margin-left: 10%;
}

.navbar {
  background: transparent;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 20px;

  transform: translate(0);
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;

  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 15%;
}

.navbar:hover {
  color: #3bd9d9;
  border: 2px solid #3bd9d9;
  border-radius: 32px;
  left: calc(100% + 32px);
  transition: 0.75s;
}

.navbarx {
  
  margin-top: 3%;
  margin-left: 50%;
  font-size: 20px;
}

.intro {
  margin-left: 10%;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  font-family: arial;
  font-size: 40px;
  margin-top: 10%;
}
.intro2 {
  font-size: 20px;
}

.arrow {
  margin-top: 15%;
  height: 50px;
  width: 50px;
}
.button1 {
  color: black;
}

button {
  background: linear-gradient(
    180deg,
    rgba(23, 127, 185, 0.28) 0%,
    rgba(217, 217, 217, 0) 185.63%
  );
  color: #3bd9d9;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid #3bd9d9;
  border-radius: 32px;
  transform: translate(0);
  overflow: hidden;
  cursor: pointer;
}

button::before {
  content: "";
  position: absolute;
  background: #3bd9d9;
  width: 8px;
  top: 0;
  bottom: 0;
  left: -32px;
  transform: rotate(-16deg);
  filter: blur(6px);
}

button:hover::before {
  left: calc(100% + 32px);
  transition: 0.75s;
}
